html {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.logo {
  /* font-family: 'Gugi', cursive; */
  background: linear-gradient(
    140deg,
    rgb(65, 59, 155) 0%,
    rgba(73, 103, 200, 1) 22%,
    rgba(86, 181, 214, 1) 63%,
    rgb(99, 195, 228) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(86, 181, 214, 1);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

.App-intro {
  font-size: large;
}

.subtitle {
  color: #222;
  align-self: self-start;
  margin-left: 2rem;
  text-shadow: 2px 1px 10px #00000087;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  color: #f2f8f9;
  width: 500px;
  height: 350px;
  background: rgb(78, 71, 185);
  /* background: linear-gradient(
    135deg,
    rgba(3, 1, 111, 1) 10%,
    rgba(27, 255, 241, 1) 90%
  ); */
  background: linear-gradient(
    140deg,
    rgb(65, 59, 155) 0%,
    rgba(73, 103, 200, 1) 22%,
    rgba(86, 181, 214, 1) 63%,
    rgb(99, 195, 228) 100%
  );
  border-radius: 30px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 6px 2px #00000047;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 0.5rem;
}

.card-name {
  font-size: 1.5rem;
  margin: 1rem;
}

.card-ci {
  display: flex;
  flex-direction: row;
}

.card-c {
  margin-right: 1rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-username {
  padding-right: 4rem;
  font-weight: 400;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 180px;
}

.card-address {
  margin-left: 3rem;
  font-size: 1.2rem;
}

.card-block {
  display: flex;
  align-items: center;
}

.card-misc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-website {
  height: 0;
}

.hr {
  border: none;
  border-radius: 3px;
  background-color: rgb(42, 35, 131);
  height: 4px;
}

.hr-header {
  width: 400px;
}
.hr-body {
  width: 200px;
}
.hr-footer {
  width: 60px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  .App-header {
    padding: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .card {
    width: 300px;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
  }

  .card-ci {
    /* flex-direction: column; */
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2rem;
  }

  .card-address {
    margin-left: 2rem;
  }

  .hr-header {
    width: 200px;
  }
}
